* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
}

body {
  background: linear-gradient(#344850, #0000008a, #344850);
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 10px;
  background: #dbdbdb;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30vh 10vh auto 15vh;
}
.container .header {
  background: url("../image/header.jpg");
  background-position: bottom;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
  grid-column: 1/11;
  grid-row: 1/3;
}
.container nav {
  position: relative;
  background: #0000006b;
  grid-column: 1/11;
  grid-row: 2/3;
}
.container nav a {
  color: white;
  line-height: 10vh;
  transition: 0.5s;
  margin: 10px;
}
.container nav a:hover {
  color: red;
}
.container nav img {
  display: none;
  position: absolute;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
  right: 1%;
  cursor: pointer;
}
.container .shrink_nav {
  z-index: 10;
  position: fixed;
  width: 99vw;
  height: 10vh;
}
.container .content {
  grid-column: 2/8;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
}
.container .content .display_hr {
  margin: 1.5vh 0.7vh;
  height: 0.2vh;
  background: linear-gradient(90deg, #00000038, #fff, #00000038);
  border: none;
  border-radius: 20px;
}
.container .content .content_box {
  width: 90%;
  margin: 1vh 5% 1vh 5%;
  background: #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}
.container .content .content_box a {
  color: #03a9f4db;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Microsoft JhengHei;
  text-align: justify;
}
.container .content .content_box hr {
  position: relative;
  width: 109%;
  left: -10px;
  border: none;
  height: 2px;
  margin: 1% 0;
  background: linear-gradient(90deg, #00000061, #0000008a, #00000061);
  border-radius: 40%;
}
.container .content .content_box span {
  font-family: Microsoft JhengHei;
  display: block;
  font-size: 1rem;
  text-align: justify;
}
.container .content .content_box span a {
  font-size: 0.5rem;
}
.container .content .content_page {
  margin: 0 auto;
  width: 60%;
  height: 45px;
  display: flex;
}
.container .content .content_page .left {
  position: relative;
  height: 100%;
  width: 20%;
  max-width: 45px;
  background: white;
  border-radius: 50% 0 0 50%;
  border: 1px solid black;
  cursor: pointer;
}
.container .content .content_page .page {
  flex: 1;
  background: #f4eded;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content .content_page .page span {
  text-align: center;
  background: #deb8878a;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}
.container .content .content_page .right {
  position: relative;
  height: 100%;
  width: 20%;
  max-width: 45px;
  background: white;
  border-radius: 0 50% 50% 0;
  border: 1px solid black;
  cursor: pointer;
}
.container .content .content_page img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .menu {
  grid-row: 3/4;
  grid-column: 8/10;
  display: flex;
  flex-direction: column;
}
.container .menu .menu_box {
  overflow: hidden;
  width: 90%;
  margin: 2vh 5%;
  padding: 10px;
}
.container .menu hr {
  position: relative;
  width: 110%;
  left: -10px;
  height: 3px;
  background: linear-gradient(90deg, #00000038, #0000008a, #00000038);
  border: none;
}
.container .menu span {
  display: block;
  width: 100%;
  text-align: center;
}
.container .menu p {
  display: inline-block;
  text-align: left;
  font-size: 0.7rem;
  margin: 0 5px;
}
.container .menu ul li {
  display: none;
  font-size: 0.7rem;
  margin: 0 0 0 31px;
}
.container .menu ul li a:visited {
  color: #5c5151;
}
.container .menu ul li a:link {
  color: #5c5151;
}
.container .menu ol li {
  list-style-position: inside;
  list-style-type: inherit;
}
.container .menu ol li a {
  font-size: 0.65rem;
}
.container .menu img {
  vertical-align: middle;
  cursor: pointer;
}
.container .menu a {
  text-align: justify;
}
.container .menu .announcement {
  background: #e0dddd;
  border-radius: 10px;
}
.container .menu .classification {
  background: #e0dddd;
  border-radius: 10px;
}
.container .menu .years_Sort {
  background: #e0dddd;
  border-radius: 10px;
}
.container .menu .statistics {
  border-radius: 10px;
  background: #e0dddd;
}
.container .menu .statistics #online {
  display: inline;
}
.container .footer {
  background: url("../image/header.jpg");
  background-position: bottom;
  background-size: cover;
  opacity: 0.8;
  grid-column: 1/11;
  grid-row: 4/5;
  text-align: center;
  line-height: 7.5vh;
}
.container .footer p {
  font-size: 0.7rem;
  font-weight: bold;
  color: aliceblue;
}
.container .footer li {
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 20px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 10vh auto auto 15vh;
  }
  .container nav img {
    height: 70%;
    right: 2%;
  }
  .container .shrink_nav {
    width: 100vw;
  }
  .container .menu {
    grid-row: 4/5;
    grid-column: 1/11;
  }
  .container .footer {
    grid-row: 5/6;
  }
  .container .content {
    grid-column: 1/11;
  }
  .container .content .content_page {
    width: 90%;
  }
}
@media (min-width: 376px) and (max-width: 414px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 10vh auto auto 15vh;
  }
  .container nav img {
    height: 70%;
    right: 2%;
  }
  .container .shrink_nav {
    width: 100vw;
  }
  .container .menu {
    grid-row: 4/5;
    grid-column: 1/11;
  }
  .container .footer {
    grid-row: 5/6;
  }
  .container .content {
    grid-column: 1/11;
  }
  .container .content .content_page {
    width: 90%;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 10vh auto auto 15vh;
  }
  .container nav img {
    height: 70%;
    right: 2%;
  }
  .container .shrink_nav {
    width: 100vw;
  }
  .container .menu {
    grid-row: 4/5;
    grid-column: 1/11;
  }
  .container .footer {
    grid-row: 5/6;
  }
  .container .content {
    grid-column: 1/11;
  }
  .container .content .content_page {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
