
html{
    font-size: 25px;
    li{
        list-style-position: inside;
    }

}
.article_title{
    text-align: center;
    font-family:Microsoft JhengHei;
    font-size: 2.3rem;
}
.article_hr{
    margin: 20px 0;
    border: none;
    height: 3px;
    background: linear-gradient(90deg,#00000038, #0000008a,#00000038);
    border-radius: 20px;
}
//目錄
.table_of_Contents{
    font-size: 1rem;
    li{
        list-style-position: inside;
        list-style-type: inherit;;
        margin: 3px 0;
        font-size: 1rem;
    }
}
//段落
.preface{
    .content_title{
        font-size: 1.4rem;
        text-decoration:underline
    }
    p{
        text-align: justify;
        margin-top: 0.5rem;
        letter-spacing: 1.5px;
    }
}
.paragraph
{
    a:link{
        color: #03a9f4db;
    }
    a:visited{
        color: #03a9f4db;
    }
    font-family: sans-serif;;
    .content_title{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-decoration:underline
    }
    p{
        text-align: justify;
        margin-top: 0.5rem;
        letter-spacing: 1.5px;
    }
    ol{
        list-style-position: inside;
        margin-top: 0.5rem;
        li{
            list-style-type: inherit;
        }
    }
}
//iphone 6/7/8/X
@media (min-width: 320px) and (max-width: 375px) {
    html{
        font-size: 20px;
    }
}
//iphone 6/7/8 Plus
@media (min-width: 376px) and (max-width: 414px) {

}
//iPad
@media (min-width: 415px) and (max-width: 768px) {

}