*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 25px;
    li{
        list-style: none;
    }
    a{
        text-decoration:none;
    }
}
body{
    background: #ffffffc4;
    padding: 20px;
}
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 10px;
    background: rgb(219,219,219);
}
h1{
    text-align: center;   
}
hr{
    border: none;
    height: 10px;
    background: linear-gradient(90deg,#00000038, #0000008a,#00000038);
    border-radius: 20px;
}